
<div style="height: 10%">
    <footer class="footer">
        <p class="title">What We Do</p>
        <p>"Help you find the best event around."</p>
        <ul>
            <li>

                <p> <i class="fa fa-map-o fa-2x" ></i></p>
                <a href="about" class="about">About</a>
            </li>
            <li>
                <p><i class="fa fa-envelope-o fa-2x"></i></p>
                <a href="contact" class="contact">Contact</a>
            </li>
            <li>
                <p><i class="fa fa-phone fa-2x"></i></p>
                <p>+1 800 123 456</p>
            </li>
        </ul>
    </footer>
</div>