<div style="height: 12%;">
    <header class="top-header">
        <div style="float: left;width: 70%;">
            <a href="index">
                <img class="img1" src="/images/charlotte.jpg" alt="Event Recommendation">
            </a>
        </div>
        <div style="float: right;">
            <nav class="top-nav">
                <a href="/newConnection">New Connection</a>
                <a href="/userController/savedConnections">My Connection</a>
                <a href="/login">Login</a>
                <a href="/logout">Sign out</a>
                <a href="/register">Sign up</a>
            </nav>
        </div>
    </header>
</div>