<footer class="navbar-dark bg-dark">
    <div class="row ">
        <div class="col-sm-10 footer-text my-auto fl">
            <span class="ml-5">&copy;CCI Connections</span>
            <a href="/cciconnect/about">ABOUT</a>
            <a href="/cciconnect/contact">CONTACT</a>

        </div>
        <div class="col-sm-2 social-links fr">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
    </div>
</footer>