<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css"  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"  href="stylesheets/MileStone1.css">

</head>
<body style="height:800px;width:100%;">

<%- include ('partials/navigation') %>

<%- include ('partials/header')%>

<div>
    <h2>Contact US</h2>
    <h4>Address-9210 University City Blvd, Charlotte, NC, 28262</h4>
    <h4>Phone: 704-687-8622</h4>
</div>

<%- include ('partials/footer')%>
</body>
</html>