<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>

</head>

<body>
<% include ./common/header.ejs %>
<div class="container">

    <!--       content goes here -->
    <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="jumbotron bg-white">
                <article>
                    <p>About CCI Connections Site</p>
                    <p>Platform to praticipate and create CCI events to connect with people. Whether you are looking for a study buddy, trying to connect with others who are interested in something you love to do, or want to try something new.</p>
                    <p>Check out the Connections section to browse available connections!</p>
                </article>
            </div>
        </div>
    </div>


</div>
<% include ./common/footer.ejs %>

</body>

</html>
