<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>

</head>


<body>
<% include ./common/header.ejs %>
<div class="container">

    <!--       content goes here -->
    <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="jumbotron bg-white">
                <article>
                    <p>Contact US</p>
                    <p>Address - 9201 University City Blvd, Charlotte, NC 28223</p>
                    <p>Phone- (704) 687-8622</p>
                </article>
            </div>
        </div>
    </div>


</div>

<% include ./common/footer.ejs %>
</body>

</html>
