<!DOCTYPE html>
<html>

<head>
    <title>Error!</title>

</head>

<body>
    <% include ./common/header.ejs %>
    <div class="container">

        <!--       content goes here -->
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class="jumbotron bg-white">
                    <article>
                        <h1>Resource <%= message %></h1>
                        <h2><%= error.status %></h2>
                        <a href="/">Back to home</a>
                    </article>
                </div>
            </div>
        </div>

    </div>

    <% include ./common/footer.ejs %>
</body>

</html>