
<hr style="margin-block-start: 0;margin-block-end: 0;"/>
<div style="height: 10%;">
    <div class=" main-nav" style="height: 100%;">
        <a href="connections" class="main-nav-btn">
            <i class="fa fa-map-marker"></i>Nearby
        </a>
    </div>
</div>
